@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --primary: 346 77% 49%;
    --primary-foreground: 355.7 100% 97.3%;
    --border: 220 13% 91%; /* Define border variable */
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 346 77% 49%;
    --primary-foreground: 355.7 100% 97.3%;
    --border: 240 4% 16%; /* Define border for dark mode */
  }
}

@layer base {
  * {
    border-color: hsl(var(--border)); /* Use the variable */
  }
  
  body {
    @apply bg-background text-foreground;
  }
}
